:root {
  --sub-color: #ffffe0;
  --navy-color: #2a446b;
  --white-color: white;
  --black-color: #222222;
  --grey-color: #e6e6ea;
  --lightblue-color: #add8e6;
  --peach-color: #c0c0c0;
  --lightpink-color: #ffb6c1;
  --darkgrey-color: #999999;
  --placeholder-color: #bbbbbb;
  --yellow-color: #fec72d;
  --pastelgreen-color: #98fb98;
  --green-color: #74c456;
  --lightgreen-color: #86d079;
  --lime-color: #d6e259;
}
